//header
.header-cf{
    background-color: #777;

}
.my-header{
    min-height: 60px;

    h3{
        color: white;
    }
    img{
        height: 30px;
        width: 30px;
    }
}

//main
.my-main{

}

.container .my-main .grey-line{
    height: 3px;
    background-color: grey;
}

//main - passenger
.passenger-details{
    input{
        height: 30px;
    }
    select{
        height: 30px;
    }
}

//main - billing-detailes
.billing-detailes{
    height: 200px;
}

//main - total-data
.total-data{
    height: 200px;
    button{
        background-color: orange;
    }
    button:hover{
        background-color: #dfb44e
    }
}

// footer
.my-footer-cf{
    background-color: #d8d5d5;
}
.my-footer{
    min-height: 300px;
    background-color: #d8d5d5;
    img{
        height: 300px;
        width: 400px;
    }
}

//copyrights div
.copyrights-cf{
    background-color: #777;
}
.my-copyrights-div{
    height: 60px;
}